ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #919191;
}

body{
    font-family: Avenir,PT Sans,verdana,sans;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:nth-child(odd){background-color: #e3e3e3;}


table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2d642d;
    color: white;
}

form div {
    display:inline-block;
}

select {
    font-size: 15px;
}

body {
    background-image: url("background.png");
    background-repeat: repeat;
}

.low {
     background-color: red;
 }
.medium {
    background-color: yellow;
}
.high {
    background-color: green;
}

